include CHANGELOG.md
include README.md
include LICENSE

include src/nativelib/common/*.pyi
recursive-include src/nativelib *.pyi

exclude src/nativelib/common/*.c
exclude src/nativelib/common/*.pxd
exclude src/nativelib/common/*.pyx
recursive-exclude src/nativelib *.c
recursive-exclude src/nativelib *.pxd
recursive-exclude src/nativelib *.pyx

exclude *.c
exclude src/*.c
exclude src/**/*.c
global-exclude *.c
